/* imported from module 20 photo project, restyled some section, added header and footer styling and tech styling */

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #664f94;
  --secondary: #c0a785;
  --tertiary: #e0684b;
  --light: #fffafa;
  --dark: #1d0606;
  --darker: #0e0101;
  --error: rgb(235, 79, 41);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: var(--light);
  font-family: "Arial";
}

h1,
h2 {
  font-family: "Snell Roundhand, cursive", sans-serif;
  font-style: italic;
  font-style: oblique;
  font-weight: 500;
  color: var(--secondary);
  margin: 5px 0;
  line-height: 1.25;
}
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
  color: var(--secondary);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  color: var(--secondary);
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  color: var(--secondary);
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background-color: var(--secondary);
}

header {
  background: var(--secondary-color);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

nav a:hover {
  color: var(--secondary);
}

nav li {
  cursor: pointer;
}
nav li:hover {
  color: var(--secondary);
  background-color: var(--darker);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #b9b1b1;
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
  color: var(--primary);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: auto;

  cursor: pointer;
}

.modalBackdrop {
  background: rgba(24, 11, 11, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: var(--darker);
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

button {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

a {
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.navActive {
  color: var(--secondary);
}

.selfie {
  width: 10rem;
  height: auto;
}

.project-list-container {
  display: relative;
}

.project {
  margin: 20px auto;
  border-style: solid;
  padding: 15px;
}

.project-list-title {
  margin: 30px 40px 10px 40px;
}

.block {
  display: block;
}

.align-items {
  align-items: center;
}

header {
  padding: 15px 30px;
}

.contact {
  margin: 30px 100px;
}

.contact-button {
  background-color: #2e0854;
}

.tech-container,
.resume-container {
  margin: 75px 125px;
}

.tech-title {
  font-size: 40px;
}

.tech {
  font-size: 20px;
}

.resume-download {
  font-size: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2;
}

footer a {
  max-width: 75px;
  font-size: 20px;
  margin: 30px;
}
.git::before {
  content: url("./assets/images/github.svg");
}

.linked::before {
  content: url("./assets/images/linkedin.svg");
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}
